<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <p>Bienvenido</p>
    <p> Si tiene permisos de usuario en <a href= 'admin'>admin </a>encontrará la entrada</p>
    <img src='/images/node.jpg' width= 30% alt='logo'>



  </body>
</html>
